
<div class="mdl-grid demo-content">
 <div class="mdl-color--white  mdl-cell mdl-cell--6-col mdl-grid">
    <select name="select" class="mdl-shadow--2dp">
       <option value="" disabled selected>ADD < 50</option>
       <option value="hurr">2017-03-23 09:01:11.899</option>
       <option value="hurr">2017-03-23 09:01:11.899</option>
    </select>
    <select name="select" class="mdl-shadow--2dp">
       <option value="" disabled selected>ADD >= 50</option>
       <option value="hurr">2017-03-23 09:01:11.899</option>
       <option value="hurr">2017-03-23 09:01:11.899</option>
    </select>
 </div>
 <h5 class="mdl-cell mdl-cell--12-col" style="margin:15px">Sobre a ocorrência</h5>
 <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--3-col">
    <thead>
       <tr>
          <th class="mdl-data-table__cell--non-numeric">ADD < 50</th>
          <th>ADD >= 50</th>
          <th>TOTAL</th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td class="mdl-data-table__cell--non-numeric">32</td>
          <td>31</td>
          <td>63</td>
       </tr>
    </tbody>
 </table>
 <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <thead>
       <tr>
          <th class="mdl-data-table__cell--non-numeric">Time inicial</th>
          <th>Paddi</th>
          <th>Padds</th>
          <th>Paddf</th>
          <th>Side</th>
          <th>Qadd</th>
          <th>x</th>
          <th>Paddw</th>
          <th>Qaddw</th>
          <th>Paddsw</th>
          <th>Qaddsw</th>
          <th>VWAP</th>
          <th>Time final</th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td class="mdl-data-table__cell--non-numeric">2017-03-23 09:01:11.899000</td>
          <td>3108.0000</td>
          <td>3108.0000</td>
          <td>3108.0000</td>
          <td>C</td>
          <td>65</td>
          <td>0</td>
          <td>3108.0000</td>
          <td>77.0000</td>
          <td>3108.0000</td>
          <td>85.0000</td>
          <td>85.0000</td>
          <td>2017-03-23 09:01:11.977000</td>
       </tr>
    </tbody>
 </table>
 <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--2-col">
    <thead>
       <tr>
          <th>Disponível</th>
          <th>Preço</th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td>100</td>
          <td>3108.50</td>
       </tr>
       <tr>
          <td>100</td>
          <td>3108.50</td>
       </tr>
       <tr>
          <td>100</td>
          <td>3108.50</td>
       </tr>
       <tr>
          <td>100</td>
          <td>3108.50</td>
       </tr>
    </tbody>
 </table>
 <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--2-col">
    <thead>
       <tr>
          <th>Risco</th>
          <th>Preço</th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td>100</td>
          <td>3108.50</td>
       </tr>
       <tr>
          <td>100</td>
          <td>3108.50</td>
       </tr>
       <tr>
          <td>100</td>
          <td>3108.50</td>
       </tr>
       <tr>
          <td>100</td>
          <td>3108.50</td>
       </tr>
    </tbody>
 </table>
 <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--2-col">
    <thead>
       <tr>
          <th>Risco Stop</th>
          <th>Preço</th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td>100</td>
          <td>3108.50</td>
       </tr>
       <tr>
          <td>100</td>
          <td>3108.50</td>
       </tr>
       <tr>
          <td>100</td>
          <td>3108.50</td>
       </tr>
       <tr>
          <td>100</td>
          <td>3108.50</td>
       </tr>
    </tbody>
 </table>
 <h5 class="mdl-cell mdl-cell--12-col" style="margin:15px">Sobre o Paddw</h5>
 <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--3-col">
    <thead>
       <tr>
          <th class="mdl-data-table__cell--non-numeric">Tipo de calculo</th>
          <th>Financeiro gerado</th>
          <th>Porcentagem</th>
          <th>Porcentagem Real</th>
          <th>Removido</th>
          <th>Quantidade</th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td class="mdl-data-table__cell--non-numeric">32</td>
          <td>200</td>
          <td>100</td>
          <td>32.47</td>
          <td>25</td>
          <td>50</td>
       </tr>
    </tbody>
 </table>
 <h5 class="mdl-cell mdl-cell--12-col" style="margin:15px">Sobre o Paddsw</h5>
 <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--3-col">
    <thead>
       <tr>
          <th>Percent</th>
          <th>Teria lucro com 1 tick a mais?</th>
          <th>Removido</th>
          <th>Quantidade</th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td>100</td>
          <td>Sim</td>
          <td>25</td>
          <td>85</td>
       </tr>
    </tbody>
 </table>
 <h5 class="mdl-cell mdl-cell--12-col" style="margin:15px">+3 segundos</h5>
 <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--1-col">
    <thead>
       <tr>
          <th>Frequência - Minimo</th>
          <th>Frequência - Maximo</th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td>0.5</td>
          <td>1</td>
       </tr>
    </tbody>
 </table>
 <h5 class="mdl-cell mdl-cell--12-col" style="margin:15px">Sobre PADDW Curioso</h5>
 <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--1-col">
    <thead>
       <tr>
          <th>Tipo de calculo</th>
          <th>Financeiro gerado</th>
          <th>Percent</th>
          <th>Percent real</th>
          <th>Removido</th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td>0.5</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
       </tr>
    </tbody>
 </table>
 <h5 class="mdl-cell mdl-cell--12-col" style="margin:15px">Sobre PADDSW Curioso</h5>
 <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--1-col">
    <thead>
       <tr>
          <th>Porcentagem</th>
          <th>Teria lucro com 1 tick a mais?</th>
          <th>Removido</th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td>0.5</td>
          <td>1</td>
          <td>1</td>
       </tr>
    </tbody>
 </table>
 <h5 class="mdl-cell mdl-cell--12-col" style="margin:15px">Snapshot</h5>
 <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--4-col">
    <thead>
       <tr>
          <th colspan="3"> 1º snapshot: No momento em que houve o ADD</th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td>100</td>
          <td style=" background: #ff8508; ">100</td>
          <td>Nivel 1</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 2</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 3</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 4</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 5</td>
       </tr>
       <tr>
          <td style="background: #ceffce;" >Soma = 500</td>
          <td style="background: #ceffce;" >Soma = 500</td>
          <td style="background: #ceffce;" ></td>
       </tr>
    </tbody>
 </table>
 <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--4-col">
    <thead>
       <tr>
          <th colspan="3"> 2º snapshot: Com o spread zerado 1º linha</th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td>100</td>
          <td style=" background: #ff8508; ">100</td>
          <td>Nivel 1</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 2</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 3</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 4</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 5</td>
       </tr>
       <tr>
          <td style="background: #ceffce;" >Soma = 500</td>
          <td style="background: #ceffce;" >Soma = 500</td>
          <td style="background: #ceffce;" ></td>
       </tr>
    </tbody>
 </table>
 <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--4-col">
    <thead>
       <tr>
          <th colspan="3">3º snapshot: Com o spread zerado última linha</th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td>100</td>
          <td style=" background: #ff8508; ">100</td>
          <td>Nivel 1</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 2</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 3</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 4</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 5</td>
       </tr>
       <tr>
          <td style="background: #ceffce;" >Soma = 500</td>
          <td style="background: #ceffce;" >Soma = 500</td>
          <td style="background: #ceffce;" ></td>
       </tr>
    </tbody>
 </table>
 <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--4-col">
    <thead>
       <tr>
          <th colspan="3"> 4º snapshot: Quando houve o 1º Delete no Q ADD (cheio)</th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td>100</td>
          <td style=" background: #ff8508; ">100</td>
          <td>Nivel 1</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 2</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 3</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 4</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 5</td>
       </tr>
       <tr>
          <td style="background: #ceffce;" >Soma = 500</td>
          <td style="background: #ceffce;" >Soma = 500</td>
          <td style="background: #ceffce;" ></td>
       </tr>
    </tbody>
 </table>
 <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--4-col">
    <thead>
       <tr>
          <th colspan="3"> 5º snapshot: 1º segundo dos +3 (curioso)</th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td>100</td>
          <td style=" background: #ff8508; ">100</td>
          <td>Nivel 1</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 2</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 3</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 4</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 5</td>
       </tr>
       <tr>
          <td style="background: #ceffce;" >Soma = 500</td>
          <td style="background: #ceffce;" >Soma = 500</td>
          <td style="background: #ceffce;" ></td>
       </tr>
    </tbody>
 </table>
 <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--4-col">
    <thead>
       <tr>
          <th colspan="3">6º snapshot: 2º segundo dos +3 (curioso)</th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td>100</td>
          <td style=" background: #ff8508; ">100</td>
          <td>Nivel 1</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 2</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 3</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 4</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 5</td>
       </tr>
       <tr>
          <td style="background: #ceffce;" >Soma = 500</td>
          <td style="background: #ceffce;" >Soma = 500</td>
          <td style="background: #ceffce;" ></td>
       </tr>
    </tbody>
 </table>
 <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--4-col">
    <thead>
       <tr>
          <th colspan="3">7º snapshot: 3º segundo dos +3 (curioso)</th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td>100</td>
          <td style=" background: #ff8508; ">100</td>
          <td>Nivel 1</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 2</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 3</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 4</td>
       </tr>
       <tr>
          <td>100</td>
          <td>100</td>
          <td>Nivel 5</td>
       </tr>
       <tr>
          <td style="background: #ceffce;" >Soma = 500</td>
          <td style="background: #ceffce;" >Soma = 500</td>
          <td style="background: #ceffce;" ></td>
       </tr>
    </tbody>
 </table>
 <h5 class="mdl-cell mdl-cell--12-col" style="margin:15px">Resultados estatísticos</h5>
 <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
       <tr>
          <th colspan="8" style="text-align: center;"><b>Estatísticas</b></th>
       </tr>
    </thead>
    <tbody>
       <tr>
          <td></td>
          <td></td>
          <td colspan="2" class="color2" style="text-align: center;">Spread zarado</td>
          <td colspan="3" class="color3" style="text-align: center;">Spread zerado +3s</td>
          <td></td>
       </tr>
       <tr>
          <td></td>
          <td class="color1" style="text-align: center;">Momento ADD</td>
          <td class="color2" style="text-align: center;">1 linha</td>
          <td class="color2" style="text-align: center;">Ultima linha</td>
          <td class="color3" style="text-align: center;">1s</td>
          <td class="color3" style="text-align: center;">2s</td>
          <td class="color3" style="text-align: center;">3s</td>
          <td class="color4" style="text-align: center;">DELL no cheio</td>
       </tr>
       <tr>
          <td>Porcentagem removida no QADDW/WDO:</td>
          <td class="color1" style="text-align: center;">n/c</td>
          <td class="color2" style="text-align: center;">100</td>
          <td class="color2" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color4" style="text-align: center;">100</td>
       </tr>
       <tr>
          <td>Tinha buraco no book na hora do ADD?</td>
          <td class="color1" style="text-align: center;">100</td>
          <td class="color2" style="text-align: center;">100</td>
          <td class="color2" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color4" style="text-align: center;">100</td>
       </tr>
       <tr>
          <td>Qual o OFI (QADD - Outro lado)</td>
          <td class="color1" style="text-align: center;">100</td>
          <td class="color2" style="text-align: center;">100</td>
          <td class="color2" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color4" style="text-align: center;">100</td>
       </tr>
       <tr>
          <td>Houve DELL no ADD?</td>
          <td class="color1" style="text-align: center;">100</td>
          <td class="color2" style="text-align: center;">100</td>
          <td class="color2" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color4" style="text-align: center;">100</td>
       </tr>
       <tr>
          <td>Teve iceberg após o DELL?</td>
          <td class="color1" style="text-align: center;">100</td>
          <td class="color2" style="text-align: center;">100</td>
          <td class="color2" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color4" style="text-align: center;">100</td>
       </tr>
       <tr>
          <td>Teve ADD secundário após o DELL?</td>
          <td class="color1" style="text-align: center;">100</td>
          <td class="color2" style="text-align: center;">100</td>
          <td class="color2" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color4" style="text-align: center;">100</td>
       </tr>
       <tr>
          <td>O evento estava a favor ou contra o VWAP? </td>
          <td class="color1" style="text-align: center;">100</td>
          <td class="color2" style="text-align: center;">100</td>
          <td class="color2" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color4" style="text-align: center;">100</td>
       </tr>
       <tr>
          <td>Frequência</td>
          <td class="color1" style="text-align: center;">100</td>
          <td class="color2" style="text-align: center;">100</td>
          <td class="color2" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color4" style="text-align: center;">100</td>
       </tr>
       <tr>
          <td>RPS</td>
          <td class="color1" style="text-align: center;">100</td>
          <td class="color2" style="text-align: center;">100</td>
          <td class="color2" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color4" style="text-align: center;">100</td>
       </tr>
       <tr>
          <td>Somatório do saldo de C & V</td>
          <td class="color1" style="text-align: center;">100</td>
          <td class="color2" style="text-align: center;">100</td>
          <td class="color2" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color3" style="text-align: center;">100</td>
          <td class="color4" style="text-align: center;">100</td>
       </tr>
    </tbody>
 </table>
</div>